.wrapper {
  z-index: var(--dialog-z-index, 999);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background: rgba(0,0,0,0.12);
}

.dialog {
  position: absolute;
  top: var(--dialog-top, 10rem);
  right: 0;
  left: 0;
  margin: auto;
  height: var(--dialog-height, auto);
  width: var(--dialog-width);
  //padding: 1.5rem 1.5rem 0.5rem;
  padding: 1.5rem 0 0 0;
  background: var(--dialog-background, #fff);
  box-shadow: 0 0.6875rem 0.9375rem -0.4375rem rgba(0,0,0,0.2), 0 1.5rem 2.375rem 0.1875rem rgba(0,0,0,0.14), 0 0.5625rem 2.875rem 0.5rem rgba(0,0,0,0.12);;
  border-radius: 0.125rem;
}

.title {
  padding: 0 1.5rem 1.25rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.body {
  padding: 0 1.5rem 1.5rem 1.5rem;
  max-height: calc(100% - 7.5rem);
  overflow-x: hidden;
  overflow-y: auto;
}

.buttons {
  padding: 0.5rem;
  height: 2.25rem;

  ::slotted(.buttons) {
      display: flex;
      justify-content: flex-end;

      & > * {
          height: 2.25rem;
          margin-left: 0.5rem;
          min-width: 4rem;
      }
  }
}

@media only screen and (max-height: 660px) {
  .dialog {
      top: 5rem;
  }
  .body {
      max-height: calc(100vh - 21rem);
  }
}