link(rel='stylesheet' href='dialog.css')
.wrapper
    .dialog
        template(is='dom-if' if='[[caption]]')
            .title [[caption]]
        .body
            slot(name='body')
        .buttons
            slot(name='buttons')